<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню: </title>
</head>
<body>
<span th:text="'Заявка от: ' + ${proposal.getDate()}"></span>
<a th:href="@{/proposals}"><button>К списку заявок</button></a>
<a th:href="@{/proposals/{proposalId}/edit(proposalId=${proposal.getId()})}"><button>Изменить заявку</button></a>
<table>
    <tr><th>№</th><th>Название</th><th>Стоимость</th><th>Количество</th></tr>
    <tr th:each="menu, iState: ${addedMenus}">
        <td th:text="${iState.count}"></td>
        <td><a target = "_blank" th:href="@{/menus/{menuId}(recipeId=${menu.getId()})}" th:text="${menu.getName()}"></a></td>
        <td th:text="${addedPrices.get(iState.count - 1)}"></td>
        <td th:text="${proposalElements.get(iState.count - 1).getCount()}"></td>
    </tr>
    <tr><td></td><td></td><td th:text="${sum}"></td></tr>
</table>
</body>
</html>