<!DOCTYPE html>
<html th:lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Новый ингредиент</title>
</head>
<body>
    <form enctype="application/x-www-form-urlencoded" th:method="POST" th:action="@{/ingredients}" th:object="${ingredient}">
        <label for="name">Наименование: </label>
        <input type="text" th:lang="ru" th:charset="UTF-8" th:field="*{name}" id="name">

        <label for="price">Цена: </label>
        <input type="text" th:field="*{price}" id="price">

        <input type="submit" value="Добавить">
    </form>

    <a th:href="@{/ingredients}"><button type="button">Список игредиентов</button></a>
</body>
</html>